# These tools are required for the package and development.
# `pip install -e .` will install all package dependencies.
setuptools 
wheel
selenium

snapshottest

pip>=20.0.2
bump2version
watchdog
flake8
tox
coverage
Sphinx
sphinxcontrib-napoleon
twine
ipython
ipykernel

pytest
pytest-cov
pytest-runner
pytest-mock
